body, html{
    margin:0;
    padding:0;
    border:0;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    height: 64px;
    line-height: 64px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0 20px;
    color: white;
}

.container{
    box-sizing: border-box;
    width: auto;
    min-height: 100vh;
    margin: auto;
    padding: 94px 100px;
}

.solution{
    box-sizing: border-box;
    width: auto;
    height: 380px;
    padding: 40px;
    margin-top: 20px;
    position: relative;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
}

.solution .solution-container{
    padding-top: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
}

.solution .solution-title{
    position: absolute;
    top: -10px;
    left: 30px;
}

.solution .solution-size {
    position: absolute;
    height: 260px;
    width: 5px;
    border: 1px solid #000;
    border-right: none;
    margin-top: 20px;
    text-align: center;
    line-height: 260px;
}

.solution .solution-size span{
    position: relative;
    width: 30px;
    left: -35px;
    height: 20px;
    background-color: white;
}

.slot{
    min-width: 50px;
    height: 260px;
    margin: 0 12.5px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

.slot.align-top{
    justify-content: flex-start;
}

.slot .slot-fullness{
    position: absolute;
    text-align: center;
    width: 100%;
}
.slot .slot-fullness span{
    background-color: white;
}

.slot.align-top .slot-fullness span{
    margin-top: 5px;
}

.slot .slot-title{
    position: absolute;
    bottom: -25px;
    text-align: center;
    width: 100%;
}

.slot.align-top .slot-title{
    top: -20px;
    bottom: unset;
}

.item{
    flex: 0 1 auto;
    width: 100%;
    border: none;
    background-color: red;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
}

.item span{
    text-align: center;
    color:black;
    width: 100%;
    font-size: 12px;
}

#solution-selector-float-button{
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 50px;
}

#solution-selector{
    display: none
}

.popup {
    visibility: hidden;
    width: 200px;
    height: 280px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 5;
    font-size: 18px;
    box-sizing: border-box;
}

.popup .color {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
}

.popup .info {
    padding: 12px 0;
}

.popup .info div {
    font-weight: bold;
    color:#000;
}

.popup .info span{
    float: right;
    text-align: right;
    font-weight: 300;
}
  
.popup.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.solution .solution-remove, .popup .popup-remove{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
}

.solution .solution-remove::before, .popup .popup-remove:before {
    font-family: Arial, sans-serif;
    content: 'x';
    color: #888;
    font-weight: 300;
    font-size: 20px;
}

.solution:hover .solution-remove, .popup:hover .popup-remove{
    display: block;
}

.solution .solution-remove:hover::before, .popup .popup-remove:hover::before{
    color: #222;
}
